
<div class="container"> <!-- Container -- Inicio -->
    <div class="col mt-5 "> <!-- Coluna Principal -- Inicio -->

        <div class="row text-white justify-content-end mr-auto flex-nowrap"> <!-- Placar -- Inicio -->
            <div class="col-md-3">
                <div class="row">
                    <div class="col-6 text-center"> <!-- Placar do Jogador -- Inicio -->
                        Jogador
                        <h1> {{placarJogador}} </h1>
                    </div> <!-- Placar do Jogador -- Fim -->

                    <div class="col-6 text-center"> <!-- Placar da Maquina -- Inicio -->
                        Maquina
                        <h1> {{placarMaquina}} </h1>
                    </div> <!-- Placar da Maquina -- Fim -->
                </div>
            </div>
        </div> <!-- Placar -- Fim -->

        <div class="row justify-content-center"> <!-- Imagens das escolhas -- Inicio -->
            <div class="row m-5" style="height: 320px;">
                <div class="col-6 ">
                    <img [src]="imagens[escolha]" class="img-fluid"> <!-- Escolha do usuario-->
                </div>

                <div class="col-6 ">
                    <img [src]="imagens[escolhaMaquina]" class="img-fluid"> <!-- Escolha da maquina-->
                </div>
            </div>
        </div><!-- Imagens das escolhas -- Fim -->

        <div class="row justify-content-center "> <!-- Botões de escolhas -- Inicio -->

            <div class="row justify-content-center m-2 flex-nowrap border p-1">

                <div class="col">
                    <button type="button" class="btn btn-lg btn-primary" (click)='escolherSimbolo($event)'>Pedra</button>                   
                </div>

                <div class="col">
                    <button type="button" class="btn btn-lg btn-primary" (click)='escolherSimbolo($event)'>Papel</button>                    
                </div>

                <div class="col">
                    <button type="button" class="btn btn-lg btn-primary" (click)='escolherSimbolo($event)'>Tesoura</button>                    
                </div>

            </div>

        </div> <!-- Botões de escolhas -- Fim -->

    </div> <!-- Coluna Principal -- Fim -->

</div> <!-- Container -- Fim -->
