
<div class="container">

    <div class="col mt-5 border"> <!-- Imagens das escolhas -->
        <div class="row justify-content-center">
            <div class="row m-5" style="height: 320px;">

                <div class="col-6 ">
                    <img [src]="imagens[escolha]"> <!-- Escolha do usuario-->
                </div>

                <div class="col-6 ">
                    <img [src]="imagens[escolhaMaquina]"> <!-- Escolha da maquina-->
                </div>

            </div>

        </div>

        <div class="row justify-content-center"> <!-- Botões de escolhas-->

                <div class="row justify-content-center m-2">

                    <div class="col">
                        <button type="button" class="btn btn-lg btn-primary" (click)='escolherSimbolo($event)'>Pedra</button>                   
                    </div>

                    <div class="col">
                        <button type="button" class="btn btn-lg btn-primary" (click)='escolherSimbolo($event)'>Papel</button>                    
                    </div>

                    <div class="col">
                        <button type="button" class="btn btn-lg btn-primary" (click)='escolherSimbolo($event)'>Tesoura</button>                    
                    </div>

                </div>

        </div>

    </div>

</div>
